# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Temporary files
*.tmp
temp/
tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project specific
release/
ffmpeg/
*.zip
*.mp4
*.avi
*.mkv
*.mov
doct/
test_videos/
output/
ffmpeg-8.0.1-full_build/
list/
model.mp4
/ffmpeg-8.0.1-full_build/
